html {
  font-family: "Unica One", sans-serif;
}

.narwhal-text {
  left: .80em;
  top: 20%;
  z-index: 1000;
  color: #fff;
  opacity: 0;
  animation: text-fade 2s 1s forwards;
}

@keyframes text-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

#narwhal-body {
  animation: body-draw 1s .6s linear forwards;
  stroke-dasharray: 1981.415px;
  stroke-dashoffset: 1981.415px;
}

@keyframes body-draw {
  to {
    stroke-dashoffset: 0;
  }

}

#narwhal-eye {
  opacity: 0;
  animation: eye-fade 2s 1s forwards;
}

@keyframes eye-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

#rainbow-violet {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
}

#rainbow-indigo {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 1812.502px;
}

#rainbow-blue {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1705.479px;
  stroke-dashoffset: 1705.479px;
}

#rainbow-green {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1596.043px;
  stroke-dashoffset: 1596.043px;
}

#rainbow-yellow {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1483.352px;
  stroke-dashoffset: 1483.352px;
}

#rainbow-orange {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1366.26px;
  stroke-dashoffset: 1366.26px;
}

#rainbow-red {
  animation: rainbow-move 1s .6s linear forwards;
  stroke-dasharray: 1243.044px;
  stroke-dashoffset: 1243.044px;
}

@keyframes rainbow-move {
  to {
    stroke-dashoffset: 0;
  }

}
